@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');


body {
	margin: 0px;
	transition: 1s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement */
}

p {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue;
	line-height: 140%;
	font-size: calc(var(--haut) * 2.4);
}

ul {
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-family: Helvetica Neue;
	line-height: 140%;
	font-size: calc(var(--haut) * 2.4);
}

li {
	margin-bottom: calc(var(--haut) * 1);
}

h1 {
	color: black;
	font-family: "Junge", cursive;
  	font-style: normal;
	font-size: calc(var(--haut) * 13);
	font-weight: normal;
	letter-spacing: -2px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	/*transition: 1s;*/
}

#marge {
	height: calc(var(--haut) * 24);
}

.contain {
	height: 100%;
	object-fit: contain;
}

h2 {

	color: black;
	font-family: "Junge";
	font-weight: lighter;
	font-size: calc(var(--haut) * 5);
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
}

img {
	height: 200%;
}

#baniere {
	display: flex;
	height: calc(var(--haut) * 25);
	overflow: hidden;
	justify-content: center;
	transition: 0s;
}

#titre {
	transition: 0s;
	position: absolute;
	z-index: 1;
	left: auto;
	right: auto;
	top: calc(var(--haut) * 24);
	left: 50%;
	transform: translate(-50%, 0%);
}

#bouton_port button {
	font-family: Helvetica Neue;
	cursor: pointer;
	padding: 10px;
	display: block;
	text-align: center;
	color: black;
	font-size: calc(var(--haut) * 3);
	background: none;
	outline: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	border: solid calc(var(--haut) * 0.4);
	border-color: black;
}

#bouton_port button:hover {
	transition: 0.4s;
	color: green;
	border-color: green;
}

.titrebio {
	display: flex;
	margin-bottom: 10px;
	padding: 0px;
	align-items: center;
	/*font-size: 3rem;*/
	/*font-weight: bold;
	text-align: left;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 0px;*/
}

.lieninsta {
	cursor: pointer;
	margin-left: auto;
	height: calc(var(--haut) * 5);
	color: black;
	text-decoration: none;
}

#bio {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	font-size: calc(var(--haut) * 2);
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	transition: 0.4s;
	background: none;
}

.jracontemavie {
	flex: 400px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 40px;
	padding: 0px

}


#video {
	display: flex;
	z-index: 2;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transition: 0s;
	background: none;
	position: relative;
	top: calc(var(--haut) * 24);
}

.fleche-navigation {
	font-family: 'Material Symbols Outlined';
  	margin-top: auto;
  	margin-bottom: auto;
  	cursor: pointer;
  	font-size: calc(var(--haut) * 20);
  	transition: 0.4s;
  	outline: 0;
  	background: none;
  	border: none;
}

.fleche-navigation:hover {
	color: green;
}

.minia {
	min-width: 16vh;
	min-height: 9vh;
	max-height: 45vh;
	margin-bottom: 40px;
	cursor: pointer;
}

