@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');


body {
	margin: 0px;
	transition: 1s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement */
}

p {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue;
	line-height: 140%;
	font-size: 2vh;
}

h1 {
	color: black;
	font-family: "Junge", cursive;
  	font-style: normal;
	font-size: 13vh;
	font-weight: normal;
	letter-spacing: -2px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	/*transition: 1s;*/
}

#titre {
	transition: 0s;
	position: absolute;
	z-index: 1;
	left: auto;
	right: auto;
	top: 30vh;
	left: 50%;
	transform: translate(-50%, 0%);
}

#marge {
	height: 31vh;
}

h2 {
	color: black;
	font-family: "Junge";
	font-weight: lighter;
	font-size: 5vh;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
}

img {
	height: 150%;
}


.tracer {
	border-color: black;
	border: 5px;
	border-style: solid;

}

#bouton_port button {
	font-family: Helvetica Neue;
	cursor: pointer;
	padding: 10px;
	display: block;
	text-align: center;
	color: black;
	font-size: 3vh;
	background: none;
	outline: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	border: solid 0.4vh;
	border-color: black;
}

#bouton_port button:hover {
	transition: 0.4s;
	color: green;
	border-color: green;
}

#bouton_port button:click {
	
}


#baniere {
	display: flex;
	height: 30vh;
	overflow: hidden;
	justify-content: center;
	/*align-items: center;*/
	transition: 0s;
}

.titrebio {
	display: flex;
	font-size: 3rem;
	font-weight: bold;
	text-align: left;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
}


#bio {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	font-size: 2vh;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	transition: 0.4s;
	background: none;
}

.jracontemavie {
	flex: 400px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 0px

}


#video {
	display: flex;
	z-index: 2;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transition: 0s;
	background: none;
	position: relative;
	top: 30vh;
}

.fleche-navigation {
	font-family: 'Material Symbols Outlined';
  	margin-top: auto;
  	margin-bottom: auto;
  	cursor: pointer;
  	font-size: 20vh;
  	transition: 0.4s;
  	outline: 0;
  	background: none;
  	border: none;
}

.fleche-navigation:hover {
	color: green;
}

@media (max-width: 1200px) {
    .fleche-navigation {
        display: none; /* ou visibility: hidden; */
    }
}



.minia {
	min-width: 16vh;
	min-height: 9vh;
	max-height: 45vh;
	margin-bottom: 40px;
	cursor: pointer;
}

.YouTube {
	height: 80vh;
}

iframe[Attributes Style] {
	height: 80vh;
}

#yt {
	height: 80vh;
}


#video1 {
	display: block;
	position: absolute;
}

#video2 {
	position: absolute;
	left: 100vw;
}

