@font-face {
	font-family: "orkney";
	src: url('orkney-regular.ttf');
}

@font-face {
	font-family: "orkney";
	font-style: medium;
	src: url('orkney-medium.ttf');
}

@font-face {
	font-family: "orkney";
	font-style: bold;
	src: url('orkney-bold.ttf');
}




h1 
{
	text-align: center;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

h2
{
	font-family: orkney;
	text-align: center;
	vertical-align: middle;
	line-height: 4vh;
	color: white;
	font-size: 2vh;
}

.background
{
	position: fixed;
	z-index: -1;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-size: 200% auto;
	background-position: center;
	background-repeat: no-repeat;
}

img.cover
{
	width: 40vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.instagram a
{
	display: block;
	height: 7vh;
	width: 7vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background:url(image/instagram1.png) no-repeat;
	background-position: center;
	background-size: 100%;
	border: none;
}

.instagram a:hover
{
	transition: 0.2s;
	background:url(image/instagram2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

.title
{
	display: table;
	width: 50vh;
	margin-left: auto;
	margin-right: auto;
}

.table
{
	display: table-cell;
	height: 12vh;
	background-color: rgb(30, 30, 30)
}

.contback
{
	margin-left: auto;
	margin-right: auto;
	width: 50vh;
	background-color: rgb(30, 30, 30)
}

#conteneur
{
	transition: 0.2s;
	display: flex;
	align-items: center;
	width: 50vh; 
	height: 10vh;
	border-top: 1px solid;
	background-color: rgb(30, 30, 30);
	justify-content: space-between;
}

#conteneur:hover
{
	transition: 0.2s;
	background-color: rgb(200, 200, 200, 0.3);
}

.logo-dst
{
	height: 3vh;
	margin-left: 2vh;
}

.bouton-play a 
{
	display: table-cell;
	align-content: center;
	transition: 0.2s;
	height: 6vh;
	width: 10vh;
	margin-left: auto;
	margin-right: auto;
	background:url(image/bouton.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: none;
}

.bouton-play a:hover 
{
	transition: 0.2s;
	background:url(image/bouton3.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.bouton-play a:active 
{
	transition: none;
	background:url(image/bouton2.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.bouton-download a 
{
	display: table-cell;
	align-content: center;
	transition: 0.5s;
	display:block;
	height: 8vh;
	width: 15vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background:url(image/download.png) no-repeat;
	background-position: center;
	background-size: 100%;
	border: none;
}


.bouton-download a:hover 
{
	transition: 0.2s;
	background:url(image/download3.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.bouton-download a:active 
{
	transition: none;
	background:url(image/download2.png) no-repeat;
	background-position: center;
	background-size: 100%;
}

.marge
{
	height: 200px;
}





